# Core Framework
streamlit

# Machine Learning & AI
tensorflow
keras
scikit-learn

# Data Handling & Math
numpy
pandas
huggingface_hub
datasets

# Visualization & Image/Audio Processing
matplotlib
seaborn
pillow
librosa

# Utils
pydub
soundfile